@charset "utf-8";

.new-list {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

.new-list-form {
  color: #555555;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
